{% extends 'layout.html.twig' %}

{% block title %}Categories{% endblock %}

{% block content %}
    {% for category in categories %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ category.title }}</h5>
            <p class="card-text">{{ category.description }}</p>
            <a href="/category/{{ category.id }}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}